<div>
  <h2 class="header__title">{{ 'Список яхт' | translate }}</h2>
  <mat-progress-bar *ngIf="!yachts" class="progress__spinner" mode="indeterminate" [color]="'primary'" [mode]="'indeterminate'">
  </mat-progress-bar>
  <div class="cards-container">
    <mat-card *ngFor="let yacht of yachts"
      (click)="seeYachtDetails(yacht);" style="margin-bottom: 0 25px;">
      <mat-card-header>
        <mat-card-title>{{yacht.name}}</mat-card-title>
        <mat-card-subtitle>{{yacht.price}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/yachts/{{yacht.id}}-thumbnail.jpg">
      <!-- <img mat-card-lg-image src="assets/images/yachts/default.png"> -->
      <mat-card-content>
        {{yacht.descritption}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button><mat-icon>star_border</mat-icon>Избранное</button>
        <button mat-raised-button color="primary">Детали</button>
      </mat-card-actions>
      <div *ngIf="false" class="yacht-actions">
        <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}" [matTooltipPosition]="'above'"
          class="icon__like--red" (click)="like(yacht)">
          favorite
        </mat-icon>
        <mat-icon class="icon__remove" (click)="remove(yacht);">
          delete
        </mat-icon>
      </div>
    </mat-card>
  </div>
</div>
<div *ngIf="false" id="right">
  <h2 class="header__title">{{ 'createYacht' | translate }}</h2>
  <div>
    <form [formGroup]="newYachtForm" #form="ngForm" (ngSubmit)="createNewYacht(newYachtForm.value)">
      <mat-form-field class="input-container">
        <input matInput type="text" placeholder="{{'name' | translate}}" formControlName="name">
        <mat-error *ngIf="!newYachtForm.controls.name.valid && newYachtForm.controls.name.touched">
          {{'nameRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-container">
        <input matInput type="text" placeholder="{{'realName' | translate}}" formControlName="alterEgo">
        <mat-error *ngIf="!newYachtForm.controls.alterEgo.valid && newYachtForm.controls.alterEgo.touched">
          {{'realNameRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!newYachtForm.valid">
        {{'create' | translate}}
      </button>

      <div *ngIf="error">{{error | translate}}</div>
    </form>
  </div>

  <div id="yachts-json">
    <h2 class="header__title">{{ 'firstTwoYachtsById' | translate }}</h2>
    <pre>{{yachts | slice:0:2 | json}}</pre>
  </div>
</div>
<div class="clear"></div>