<footer>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
         class.xs="footer-xs">
        <div fxFlex="33">
            <span>{{ 'U-Sail' | translate }}</span>
        </div>
        <div fxFlex="20">
            <a [routerLink]="['/privacy']" preserveQueryParams preserveFragment>Privacy Policy</a>
        </div>
        
        <div fxFlex="33" class="text--center" *ngIf="currentLang">
          <lib-ngx-example-library [locale]="currentLang"></lib-ngx-example-library>
        </div>
    </div>
</footer>
