<h1 class="header__title">{{'Подробно о яхте: ' + yacht.name | translate}}</h1>
<mat-progress-spinner *ngIf="!yacht"
                      class="progress__spinner"
                      [color]="'primary'"
                      [mode]="'indeterminate'">
</mat-progress-spinner>
<div id="yacht-detail" *ngIf="yacht">
    <ng-container>
        <mat-card class="yacht-card">
            <mat-card-header>
                <div class="flex-spacer"></div>
                <div class="yacht-actions">
                  
                    <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                              [matTooltipPosition]="'above'"
                              class="icon__like--red" (click)="like(yacht)">favorite
                    </mat-icon>
                </div>
            </mat-card-header>
            <img mat-card-image src="assets/images/yachts/{{yacht.id}}.jpg">
        </mat-card>

        <div id="yacht-json">
            <pre>{{yacht | json}}</pre>
        </div>
    </ng-container>
</div>
<button mat-raised-button type="button" (click)="dynamicImport()">
    {{'snapshot' | translate | uppercase}}
</button>
<button mat-raised-button type="button" (click)="goBack()">
    {{'goBack' | translate | uppercase}}
</button>
